CREATE TABLE `NAV_getAllFabrics`(
	`No_` varchar(20) NOT NULL PRIMARY KEY,
	`Description` varchar(30) NULL,
	`Product Group Code` varchar(10) NULL,
	`Last Date Modified` timestamp,
	`Unit Price` double NULL
);

INSERT `NAV_getAllFabrics` (`No_`, `Description`, `Product Group Code`, `Unit Price`) VALUES ('00.000.000', 'Track Only', 'VER-FAB', 0);
INSERT `NAV_getAllFabrics` (`No_`, `Description`, `Product Group Code`, `Unit Price`) VALUES ('40.050.066', '#Alexis Beachsand Vertical', 'DELETED', 0.55);
INSERT `NAV_getAllFabrics` (`No_`, `Description`, `Product Group Code`, `Unit Price`) VALUES ('40.050.333', '#Alexis Dune Beige Vertical', 'DELETED', 0.55);





























































































