CREATE TABLE `NAV_getDimensions`(
	`No_` varchar(20) NULL,
	`Dimension Code` varchar(20) NULL,
	`Dimension Value Code` varchar(20) NULL
);


INSERT `NAV_getDimensions` (`No_`, `Dimension Code`, `Dimension Value Code`) VALUES ('25.115.000', 'SIZE DIMENSIO', '38');
INSERT `NAV_getDimensions` (`No_`, `Dimension Code`, `Dimension Value Code`) VALUES ('25.120.091', 'SIZE DIMENSIO', '32');
INSERT `NAV_getDimensions` (`No_`, `Dimension Code`, `Dimension Value Code`) VALUES ('25.120.980', 'SIZE DIMENSIO', '32');








































































