
CREATE TABLE `tblNavisionItems`(
	`optionId` int NOT NULL PRIMARY KEY,
	`navisionId` varchar(10) NOT NULL,
	`description` varchar(50) NULL
);


INSERT `tblNavisionItems` (`optionId`, `navisionId`, `description`) VALUES (1, 'Z.100', 'Metal Chain Nickle');
INSERT `tblNavisionItems` (`optionId`, `navisionId`, `description`) VALUES (2, 'Z.101', 'Metal Chain Stainless Steel');
INSERT `tblNavisionItems` (`optionId`, `navisionId`, `description`) VALUES (3, 'Z.102', 'Opti/Ease45 Double SQ');
