
CREATE TABLE `tblRollerPriceMatrix`(
	`width` int NOT NULL,
	`drop` int NOT NULL,
	`rollerType` int NOT NULL,
	`category` varchar(50) NOT NULL,
	`price` float NULL
);


INSERT `tblRollerPriceMatrix` (`width`, `drop`, `rollerType`, `category`, `price`) VALUES (1660, 1500, 6, '9', 238);
INSERT `tblRollerPriceMatrix` (`width`, `drop`, `rollerType`, `category`, `price`) VALUES (1810, 1500, 6, '9', 256);
INSERT `tblRollerPriceMatrix` (`width`, `drop`, `rollerType`, `category`, `price`) VALUES (1960, 1500, 6, '9', 277);










































































